<html lang="en">

<body style="font-family: sans-serif; background: #f5f5f5;">
    <div style="width: 580px;background-color: white;margin: 0 auto;">
        <div style="background-color: #444444; padding: 18px; color:antiquewhite; text-align: center;font-size: 18px; ">
            <p>{% if company_name %} {{company_name}} {% else %} E-Commerce {% endif %}</p>
            <small></small>
        </div>
        <div>
            <p style="background-color: wantiquewhite; padding:18px 18px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #444444"
                width="580">
                <b>Hi {{name}},</b> <br />
                Thank you so much for joining SpecialGroup MultiVendor Ecommerce. To finish signing up, you just need to
                confirm that we got your email right.
            </p>
            <p style="text-align: center;"> 
                <a href="http://{{ domain }}{% url 'activate' token=token %}"
                    style="display: block; width: 250px; height: 30px;background-color: #444444; color:antiquewhite;text-decoration: none; text-align: center;margin:auto;padding: 5px;font-size: 16px; ">Confirm
                    Your Email</a>
            </p>
        </div>
        <hr />
        <div
            style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #999999; padding: 12px 18px">

            <p>
                You received this email because you signed up for {% if company_name %} {{company_name}} {% else %} E-Commerce {% endif %}
                account with this email. If you did not register, please ignore this message.
            </p>
        </div>
    </div>
</body>

</html>