{% extends 'DashboardManagement/v2/Partials/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'DashboardManagement/v2/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %}

{% block content %}

<section class="content-header">
</section>
<div class="content">
  {% if messages %}   
    {% include "DashboardManagement/v2/Partials/notification.html" %}
  {% endif %}
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Products</h3>
      {% if 'add_product' in user_permissions or is_vendor_admin %}
        <a href="{% url 'product-add' %}" class="btn btn-primary btn-sm btn-icon-split pull-right">
            <span class="icon text-white-50">
                <i class="fa fa-plus"></i>
            </span>
            <span class="text"> Add New Product</span>
        </a>
      {% endif %}
    </div>
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
              <th>En/Np</th>
              <th>Price</th>
              <th>Status</th>
              <th>Featured Product?</th>
              {% if 'view_product' in user_permissions or 'change_product' in user_permissions or 'delete_product' in user_permissions or is_vendor_admin %}
                  <th>Actions</th>
              {% endif %}
            </tr>
        </thead>
        <tbody>
          {% for product in products %}
              <tr>
                  <td>{{product.english_name}} /{{product.nepali_name}}</td>
                  <td>
                      {% if product.old_price %}<span class="line-through">{{product.old_price}}</span> {% endif %}{{product.price}}
                  </td>
                    <td>{% if product.status %} <a class="btn btn-sm btn-success" href="">Available</a> {% else %} <a class="btn btn-sm btn-danger" href="">Unavailable</a> {% endif %}</td>
                  <td>{% if product.is_featured %} <a class="btn btn-sm btn-success" href="">Yes</a> {% else %} <a class="btn btn-sm btn-danger" href="">No</a> {% endif %}</td>
                  {% if 'view_product' in user_permissions or 'delete_product' in user_permissions or 'change_product' in user_permissions or is_vendor_admin %}
                      <td class="flex-row">
                          {% if 'change_product' in user_permissions or 'view_product' in user_permissions or is_vendor_admin%}
                              <a class="btn btn-sm btn-primary" href="{% url 'vendor-product-edit' product.id %}"><i class="fa fa-pencil"></i></a>
                          {% endif %}
                          {% if 'delete_product' in user_permissions or is_vendor_admin %}
                              <form method="POST" action="{% url 'vendor-product-delete' %}" class="pull-right">
                              {% csrf_token %}
                                  <input type="hidden" value="{{product.id}}" name="product_id" />
                                  <button class="btn btn-danger btn-sm" onClick='return confirm("Are you sure you want to delete {{product.name}} ?")' type="submit"><i class="fa fa-trash"></i></button>
                              </form>
                          {% endif %}
                      </td>
                  {% endif %}
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'DashboardManagement/v2/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v2/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v2/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(function () {
      $('#example1').DataTable({
        "lengthMenu": [[20, 50, 150, -1], [20, 50, 150, "All"]]
      })
    })
  </script>
{% endblock js %}