{% extends 'DashboardManagement/v2/Partials/base.html' %}
{% load static %}
{% load addcss %}

{% block content %}
<section class="content-header">
</section>

<div class="content">
    {% if messages %}
        {% include "DashboardManagement/v2/Partials/notification.html" %}
    {% endif %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Create New Category</h3>
        </div>
        <div class="box-body">
            <form class="user" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="status">{{form.english_name.label|title}}:<span class="red"> *</span></label>
                        {{form.english_name|addcss:'form-control'}}
                        {% if form.errors %}
                            {% for data, i in form.errors.items %}
                                <span class="form-error">{% if data == "english_name" %}{{i}}{% endif %}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <label for="isFeatured">{{form.nepali_name.label|title}}: <span class="red"> *</span></label>
                        {{form.nepali_name|addcss:'form-control'}}
                        {% if form.errors %}
                            {% for data, i in form.errors.items %}
                                <span class="form-error">{% if data == "nepali_name" %}{{i}}{% endif %}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="categoryImage">{{form.categoryImage.label}}: <span class="red"> *</span></label>
                        {{form.categoryImage|addcss:'form-control'}}
                        {% if form.errors %}
                            {% for data, i in form.errors.items %}
                                <span class="form-error">{% if data == "categoryImage" %}{{i}}{% endif %}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <label for="bannerImage">{{form.isFeatured.label}}: <span class="red"> *</span></label>
                        {{form.isFeatured|addcss:'form-control'}}
                        {% if form.errors %}
                            {% for data, i in form.errors.items %}
                                <span class="form-error">{% if data == "isFeatured" %}{{i}}{% endif %}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" name="update-profile" id="update-profile" class="btn btn-primary btn-user btn-block"
                        value="Add Category" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}