<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">VENDOR <sup>2</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    {% for route in routes %}
        {% if route.group %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                    <i class="{{ route.icon }}"></i>
                    <span class="capitalize">{{ route.title }}</span>
                </a>
                <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                    {% for data in route.links %}
                        <a class="collapse-item capitalize" href="{{ data.url }}">{{ data.title }}</a>
                    {% endfor %}
                    </div>
                </div>
            </li>
        {% else %}
            <li class="nav-item {% if route.active %} active {% endif %}">
                <a class="nav-link" href="{{ route.url }}">
                    <i class="{{ route.icon }}"></i>
                    <span class="capitalize">{{ route.title }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>