{% extends 'DashboardManagement/v1/Partials/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'DashboardManagement/v1/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
{% load addcss %}
{% if messages %}
{% include "DashboardManagement/v1/Partials/notification.html" %}
{% endif %}
<div class="card shadow mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4 class="m-0 font-weight-bold">Orders Delivered</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered user-table table-sm" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Product</th>
                        {% if 'view_order' in user_permissions or is_vendor_admin %}
                        <th>Options</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.user.get_full_name}}</td>
                        <td> 
                            {% if order.status == 1 %}
                            <button class="btn btn-danger btn-sm">Pending</button>
                            {% elif order.status == 2 %}
                            <button class="btn btn-primary btn-sm">In Progress</button>
                            {% else %}
                            <button class="btn btn-success btn-sm">Delivered</button>
                            {% endif %}
                        </td>
                        <td>{{ order }}</td>
                        {% if 'view_category' in user_permissions or 'delete_category' in user_permissions or 'change_category' in user_permissions or is_vendor_admin %}
                        <td class="flex-row">
                            {% if 'change_order' in user_permissions or 'view_order' in user_permissions or is_vendor_admin%}
                            <a class="btn btn-sm btn-primary" href="">View Details</a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'DashboardManagement/v1/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v1/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v1/js/demo/datatables-demo.js' %}"></script>
{% endblock js %}