<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if company_name %} {{company_name}}{% else %}Ecommerce{% endif %}{% if title %} | {{title}} {% endif %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{% static 'DashboardManagement/v2/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'DashboardManagement/v2/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'DashboardManagement/v2/bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'DashboardManagement/v2/dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'DashboardManagement/v2/dist/css/skins/skin-blue.min.css' %}">
    <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="{% static 'DashboardManagement/v2/dist/css/style.css' %}"/>
    {% block css %}
    {% endblock css %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
            <span class="logo-mini"><b>A</b>LT</span>
            <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            {% include 'DashboardManagement/v2/Partials/navbar.html' %}
        </header>
        {% include 'DashboardManagement/v2/Partials/sidebar.html' %}
        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
            <a href="https://saijalshakya.com.np" target="_blank">Saijal Shakya</a>
            </div>
            <strong>Copyright &copy; 2016 <a href="#">{{company_name}}</a>.</strong> All rights reserved.
        </footer>
    </div>
    <script src="{% static 'DashboardManagement/v2/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'DashboardManagement/v2/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'DashboardManagement/v2/dist/js/adminlte.min.js' %}"></script>
    {% block js %}
    {% endblock js %}
</body>
</html>