{% extends 'DashboardManagement/v2/Partials/base.html' %}
{% load static %}
{% load addcss %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} text-center mb-0" role="alert">{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card mb-4 py-3 border-bottom-success">
            <div class="card-body">
                <form class="user" method="POST" action="{% url 'change-password' %}">
                    {% csrf_token %}
                    {% comment %} <div class="form-group">
                        <!-- <label for="old_password">Old Password :</label> -->
                        <input type="password" class="form-control form-control-user" id="old_password" name="old_password"
                            placeholder="Old Password">
                    </div>
                    <div class="form-group">
                        <!-- <label for="new_password">New Password :</label> -->
                        <input type="password" class="form-control form-control-user" id="new_password" name="new_password"
                            placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <!-- <label for="confirm_password">Confirm Password :</label> -->
                        <input type="password" class="form-control form-control-user" id="confirm_password"
                            name="confirm_password" placeholder="Confirm Password">
                    </div> {% endcomment %}
                    {% for data in form %}
                        <div class="form-group">
                            <label>{{data.label}}</label>
                            {{data|addcss:"form-control"}}
                            <div class="dj-helptext">{{data.help_text}}</div>
                            <span class="form-error">{{data.errors}}</span>
                        </div>
                    {% endfor %}
                    <input type="submit" name="change-password" id="change-password" class="btn btn-primary btn-user btn-sm"
                        value="Change Password" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}