{% extends 'DashboardManagement/v2/Partials/base.html' %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'DashboardManagement/v2/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %}


{% block content %}
<section class="content-header">
</section>
<div class="content">
    {% if messages %} 
        {% include 'DashboardManagement/v2/Partials/notification.html' %}
    {% endif %}
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">Users</h3>
            {% if 'add_user' in user_permissions or is_vendor_admin %}
                <a href="{% url 'vendor-create-users' %}" class="btn btn-primary btn-sm btn-icon-split pull-right">
                    <span class="icon text-white-50">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">&nbsp;Create New Users</span>
                </a>
            {% endif %}
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    {% if 'view_group' in user_permissions or is_vendor_admin %}
                        <th>Groups</th>
                    {% endif %}
                    {% if has_additional_data %}
                        <th>Address</th>
                        <th>Phone</th>
                    {% endif %}
                    {% if 'view_user' in user_permissions or 'delete_user' in user_permissions or 'change_user' in user_permissions or is_vendor_admin%}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data in vendor_user %}
                    <tr>
                        <td>{{data.get_full_name}}</td>
                        {% if 'view_group' in user_permissions or is_vendor_admin %}
                            <td>
                                {% if data.groups.all %}
                                    {% for group in data.groups.all %} 
                                        <span class="badge badge-secondary">{{group}}</span></h6>
                                    {% endfor %}
                                {% else %}
                                    Not in a group
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if has_additional_data %}
                            <td>{% if data.user_profile.address %} {{ data.user_profile.address }} {% else %} Not Set {% endif %}</td>
                            <td>{% if data.user_profile.phone %} {{data.user_profile.phone}} {% else %} Not Set  {% endif %}</td>
                        {% endif %}
                        {% if 'view_user' in user_permissions or 'delete_user' in user_permissions or 'change_user' in user_permissions or is_vendor_admin %}
                            <td class="flex-row">
                                {% if 'change_user' in user_permissions or 'view_user' in user_permissions or is_vendor_admin%}
                                    <a class="btn btn-sm btn-primary" href="{% url 'vendor-edit-users' data.id  %}"><i class="fa fa-pencil"></i></a>
                                {% endif %}
                                {% if 'delete_user' in user_permissions or is_vendor_admin %}
                                    <form method="POST" action="{% url 'vendor-delete-users' data.id %}" class="pull-right">
                                    {% csrf_token %}
                                        <button class="btn btn-danger btn-sm" onClick='return confirm("Are you sure you want to delete {{data.get_full_name}} ?")' type="submit"><i class="fa fa-trash"></i></button>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'DashboardManagement/v2/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v2/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v2/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(function () {
      $('#example1').DataTable({
        "lengthMenu": [[20, 50, 150, -1], [20, 50, 150, "All"]]
      })
    })
  </script>
{% endblock js %}