{% extends 'DeliverySystem/v2/Partials/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'DashboardManagement/v2/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<style>
    .img-container{
        height: 150px;
        width: 150px;
        position: absolute;
        right: 50%;
    }
    .img-container img{
        width: 100% ;
    }
</style>
{% endblock css %}

{% block content %}

<section class="content-header">
    <h1>
        {{order.user.get_full_name}}
        <small>#007612</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Invoice</li>
      </ol>
</section>
<div class="content">
    {% if messages %}   
        {% include "DeliverySystem/v2/Partials/notification.html" %}
    {% endif %}
    <!-- title row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    {% if order.direct_assign %}
                        <b>You are directly assigned to delivery this orders.</b>
                    {% endif %}
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                          From
                          <address>
                            <strong>{{order.user.get_full_name|title}}</strong><br>
                            District: {{order.user.user_profile.district}}, {{order.user.user_profile.district.province}}<br/>
                            Address: {{order.user.user_profile.address}}<br>
                            Phone: <a href="tel:{{order.user.user_profile.phone}}">{{order.user.user_profile.phone}}</a><br>
                            Email: {{order.user.email}}
                          </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                          To
                            {% if order.deliver_to %}
                                <address>
                                    <strong>Self</strong>
                                </address>
                            {% else %}
                                <address>
                                        <strong>{{order.other_full_name|title}}</strong><br>
                                        District: {{order.district}}<br>
                                        Address: {{order.other_address}}<br>
                                        Phone: <a href="tel:{{order.other_phone}}">{{order.other_phone}}</a><br>
                                </address>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 invoice-col">
                          <b>Invoice #007612</b><br>
                          <br>
                          <b>Order ID:</b> 4F3S8J<br>
                          <b>Payment Due:</b> 2/22/2014<br>
                          <b>Account:</b> 968-34567
                        </div>
                        <!-- /.col -->
                      </div>
                      <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <h4 class="text-center">Order Information</h4>
                          <table class="table table-striped">
                            <thead>
                            <tr>
                              <th>#</th>
                              <th>Product</th>
                              <th>QTY</th>
                              <th>Price</th>
                              <th>Sub Total</th>
                              {% if multi_vendor %}
                                <th>Vendor</th>
                              {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                                {% for data in order_items %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{data.en_name}}</td>
                                        <td>{{data.quantity}}</td>
                                        <td>{{data.price}}</td>
                                        <td>Rs. {{data.sub_product_total}}</td>
                                        {% if multi_vendor %}
                                            <th title="Phone: {{data.vendor.phone}}">{{data.vendor}}</th>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-xs-6">
                          <p class="lead">Order Note</p>
                          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                            {% if order.any_info %}
                                {{order.any_info}}
                            {% else %}
                                No Notes Provided
                            {% endif %}
                        </p>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                          <p class="lead">Billing Info</p>
                            
                          {% if order.payment_status != '1' %}
                            <div class="img-container">
                                <img src="{% static 'DashboardManagement/v2/images/paid.png' %}"/>
                            </div>
                          {% endif %}
                          <div class="table-responsive">
                            <table class="table">
                              <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td>Rs. {{total_bill.sub_total}}</td>
                              </tr>
                              <tr>
                                <th>Delivery Charge:</th>
                                <td>Rs. {{total_bill.delivery_charge}}</td>
                              </tr>
                              <tr>
                                <th><h3>Total:</h3></th>
                                <td><h3>Rs. {{total_bill.total_price}}</h3></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="row no-print">
                        <div class="col-xs-12">
                          <div style="font-size: 15px;">Payment Method: {{order.payment_method}}</div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header">
                    <b>Order Status</b>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            Status
                        </label>
                        <select name="order_status" class="form-control">
                            <option value="1">Pending</option>
                            <option value="1">In Process</option>
                            <option value="1">Delivered</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-wrench"> Update</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header">
                    <b>Want To Deliver?</b>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <button type="submit" class="btn btn-success btn-lg" onclick="confirm('You sure to take this order?')">Take this Order Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header">
                    <b>Payment Status</b>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            Payment
                        </label>
                        <select name="payment" class="form-control">
                            <option value="1" {% if order.payment_status == '1' %}selected{% endif %}>Pending</option>
                            <option value="2" {% if order.payment_status == '2' %}selected{% endif %}>Online Transfered/ Online Payment</option>
                            <option value="3" {% if order.payment_status == '3' %}selected{% endif %}>Cash In Hand</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa fa-wrench"> Update Payment</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
{% endblock %}

{% block js %}
<script src="{% static 'DashboardManagement/v2/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v2/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v2/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(function () {
      $('#example1').DataTable({
        "lengthMenu": [[20, 50, 150, -1], [20, 50, 150, "All"]]
      })
    })
  </script>
{% endblock js %}