{% extends "DashboardManagement/v2/Partials/base.html" %}

{% block content %}

<section class="content-header">

</section>
<div class="content">
    {% if messages %}
        {% include 'DashboardManagement/v2/Partials/notification.html' %}
    {% endif %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{orders_count}}</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{new_customers}}</h3>
              <p>New Customer</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{users}}</h3>
              <p>Dashboard User</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{total_products}}</h3>
                <p>Total Products</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
    </div>
    <div class="row">
      <div class="col-md-4">
        {% if offers %}
          <div class="box box-success">
            <div class="box-header">
              <i class="fa fa-comments-o"></i>

              <h3 class="box-title">Hey, Special Offers Alert</h3>

              <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
              </div>
            </div>
            <div class="box-body">
              <h4>{{first_offers.title|title}}</h4>
              <div class="banner-index-img">
                <img src="{{first_offers.small_banner_image.url}}" alt="{{first_offers.title}}" />
              </div>
            </div>
            <!-- /.chat -->
            <div class="box-footer">
              <div class="input-group">
                <a href="{% url 'vendor-offers' %}">View All</a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
</div>

{% endblock content %}