{% extends 'DashboardManagement/v1/Partials/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'DashboardManagement/v1/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
{% if messages %}
    {% include "DashboardManagement/v1/Partials/notification.html" %}
{% endif %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
          <div class="col-md-2">
              <h4 class="m-0 font-weight-bold">Category</h4>
          </div>
            {% if 'add_category' in user_permissions or is_vendor_admin %}
              <div class="col-md-10">
                  <a href="{% url 'category-add' %}" class="btn btn-primary btn-sm btn-icon-split float-right">
                      <span class="icon text-white-50">
                          <i class="fas fa-plus"></i>
                      </span>
                      <span class="text">Add New Category</span>
                  </a>
              </div>
          {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered user-table"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Engish/ Nepali Name</th>
              <th>Image</th>
              <th>Is Featured?</th>
              {% if 'view_category' in user_permissions or 'change_category' in user_permissions or 'delete_category' in user_permissions or is_vendor_admin %}
                  <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
              {% for category in categories %}
                  <tr>
                      <td>{{category.english_name}}/ {{category.nepali_name}}</td>
                      <td>
                        <div class="table-img-container">
                          <img src="{{category.categoryImage.url}}" class="table-img"/>
                        </div>
                      </td>
                      <td>{% if category.isFeatured %}Yes{% else %}No{%endif%}</td>
                      {% if 'view_category' in user_permissions or 'delete_category' in user_permissions or 'change_category' in user_permissions or is_vendor_admin %}
                          <td class="flex-row">
                              {% if 'change_category' in user_permissions or 'view_category' in user_permissions or is_vendor_admin%}
                                  <a class="btn btn-sm btn-primary" href="{% url 'category-edit' category.id %}"><i class="fas fa-fw fa-pencil-alt"></i></a>
                              {% endif %}
                              {% if 'delete_category' in user_permissions or is_vendor_admin %}
                                  <form method="POST" action="{% url 'category-delete' category.id %}">
                                  {% csrf_token %}
                                      <button class="btn btn-danger btn-sm" onClick='return confirm("Are you sure you want to delete {{category.name}} ?")' type="submit"><i class="fas fa-fw fa-trash-alt"></i></button>
                                  </form>
                              {% endif %}
                          </td>
                      {% endif %}
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


{% endblock %}

{% block js %}
<script src="{% static 'DashboardManagement/v1/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v1/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'DashboardManagement/v1/js/demo/datatables-demo.js' %}"></script>
{% endblock js %}