{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Saijal Shakya - github.com/shakyasaijal">
    <meta name="description" content="Saijal Shakya - Software Engineer">
    <meta name="keywords" content="Saijal Shakya">
    <meta name="geo.region" content="KTM-NP" />
    <meta name="geo.placename" content="Nepal" />
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="copyright" content="Saijal Shakya - Software Engineer" />
    <meta name="GOOGLEBOT" content="index,follow" />
    <meta property="og:title" content="Saijal Shakya - Software Engineer">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://saijalshakya.com.np">
    <meta property="og:site_name" content="Saijal Shakya - Software Engineer">
    <meta property="og:description" content="Saijal Shakya - Software Engineer">    
	<meta property="og:image:alt" content="Saijal Shakya - Software Engineer" />
	<link rel="alternate" href="https://www.saijalshakya.com.np/" hreflang="en" />
    <link rel="canonical" href="https://www.saijalshakya.com.np/" />
	<title>Ecommerce</title>
</head>
<body>
    <div id="app"></div>
	<script src="{% static 'frontend/main.js' %}"></script>
</body>
</html>
