<html lang="en">

<body style="font-family: sans-serif; background: #f5f5f5;">
    <div>
        <div style="background-color: wantiquewhite; padding:18px 18px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #444444"
            width="580">
            <b>Hello {{full_name}},</b> <br /><br/>
            This is system generated email to let you know that your password has been changed.<br/>
            <p style="margin: 0;font-size: 16px;">Change Information:</p>
                <hr/>
            <b>Date & Time: </b>{{datetime}}<br/>
            <b>Device: </b>{% if osFamily %}{{osFamily}}{% endif %} {% if osVersion %}({{osVersion}}){% endif %}  {% if deviceFamily and deviceFamily != 'Other' %}{{deviceFamily}}{% endif %} {% if deviceBrand %}({{deviceBrand}}){% endif %}
    </div>
        
    </div>
</body>
</html>