{% extends "dashboardManagement/Views/Authentication/base.html" %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} text-center mb-0" role="alert">{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div class="row login-view">
    <div class="col-lg-6 d-none d-lg-block bg-password-image">
        <div class="logo-container auto verticle-center center text-center">
            <img src="{% static 'dashboardManagement/img/forgetPassword.jpg' %}" height="100%" width="100%"/>
        </div>
    </div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-2">Please Enter Your New Password</h1>
          <br/>
        </div>
        <form class="user" method="POST" action="{% url 'forget-password-done' token=token %}">
          <div class="form-group">
            <input type="password" name ="new_password" class="form-control form-control-user" id="password" aria-describedby="passwordHelp" placeholder="Enter New Password..." required>
          </div>
          <div class="form-group">
            <input type="password" name ="confirm_password" class="form-control form-control-user" id="confirm_password" aria-describedby="confirmPasswordHelp" placeholder="Confirm Password..." required>
          </div>
          <input type="submit" name="change-password" id="change-password" class="btn btn-primary btn-user btn-block"
          value="Change Password" />
        </form>
        <hr>
        <div class="text-center">
          <a class="small" href="{% url 'vendor-login' %}">Password Remembered? Login!</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}